---
---

@import "{{ site.theme }}";

#downloads {
  display: none 
}

h1, h2, h3, h4, h5, h6 {
  color: #ff00ca
}
header h1 {
  color: #0094ff
}
th header {
  border-bottom: 1px dashed #ae53e8
}

pre {
  color: #0094ff
}
